load_module /usr/lib/nginx/modules/ngx_stream_module.so;

worker_processes {{ worker_processes }};
pid /var/run/nginx.pid;

events {
    worker_connections {{ worker_connections }};
}

{% if forward_http_port %}
http {
    sendfile off;
    tcp_nopush on;
    tcp_nodelay on;
    keepalive_timeout 65;
    types_hash_max_size 4096;

    client_max_body_size 8M;
    client_body_temp_path /tmp 1 2;
    client_body_buffer_size 256k;
    client_body_in_file_only off;

    server_tokens off;
    max_ranges 1;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    access_log {{ access_log }};
    error_log {{ error_log }} info;

    server {
        listen 80 default_server;
        root /var/www/riotkit;
        index index.html;
        server_name _;
        return 301 https://$host$request_uri;
    }
}
{% endif %}

stream {
    upstream tls_upstream {
        {% set i = 0 %}
        {% for port in ports %}
        {% if port.type == "tls" %}{% set i = i + 1 %} server {{ port.bind_ip }}:{{ port.local_port }} fail_timeout={{ tls_fail_timeout }} {% if i > 1 %}backup{% endif %}; {% endif %}
        {% endfor %}
    }

    server {
        listen 443 {{ tls_listen_opts }};
        proxy_connect_timeout {{ tls_proxy_connect_timeout }};
        proxy_timeout {{ tls_proxy_timeout }};
        resolver {{ tls_dns_resolver }};
        proxy_pass tls_upstream;
    }
}
